// MEDIA QUERY MENAGER
/*
1em = 16px

Desktop = >1920px
Tablet = 768px
Mobile = 520px
*/

@mixin respond($breakpoint) {

  @if $breakpoint == mobile {
    @media (max-width: 32.5em) { @content };       //520px
  }

  @if $breakpoint == tablet {
    @media (max-width: 48em) { @content };      //768px
  }

  @if $breakpoint == desktop {
    @media (min-width: 120em) { @content };    //1920px
  }
}

@mixin shadow { box-shadow: 0 0 .7rem rgba(0,0,0, .6); }

@mixin shadowSpreaded { box-shadow: 0 0 .7rem 2px rgba(0,0,0, .6); }

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}