$color-primary: #6c92d8;
$color-primary-light: #95b3ea;

$color-secondary-dark: #1efd45;
$color-secondary: #77ff8e;
$color-secondary-light: #a7ffb6;

$color-tertiary: #fbf501;
$color-tertiary-light: #fffb63;

$color-green: #65c275;


$color-black: #000000;

$color-dark-gray-1: #333;
$color-dark-gray-2: #666;
$color-dark-gray-3: rgb(143, 143, 143);

$color-light-gray-1: #f7f7f7;
$color-light-gray-2: #ececec;
$color-light-gray-3: #bebebe;

$color-white: #ffffff;
