.modal {
  width: 70%;
  min-height: 30%;

  background: $color-light-gray-1;
  border-radius: 4px;
  overflow: hidden;
  @include shadow;

  transform: translateY(-100vh);
  opacity: 0;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;

  animation: modalOut 0.2s ease-in-out forwards;

  &Active {
    animation: modalIn 0.2s ease-in-out forwards;
  }
}
