.tile {
  position: relative;

  width: 33.333333%;
  margin: .5rem;

  border-radius: 2px;
  overflow: hidden;

  transition: all 0.2s ease-in-out;

  cursor: pointer;
  @include shadow;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.25s ease-out;
  }

  &:hover &__image {
    transform: scale(1.07);
    filter: brightness(80%);
  }

  &:hover &__caption {
    color: $color-primary;
    font-size: 2rem;
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;

    background: linear-gradient(to right top, $color-black 0%, transparent 50%);
    padding: 3rem 2rem 1rem 1rem;
    transition: all 0.25s ease-out;

  }

  @include respond(tablet) {
    width: 50%;
  }

  @include respond(mobile) {
    width: 100%;
  }
}
